*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/.gradle
/library-exclude/build/
/buildSrc/build/classes/kotlin/main/
/buildSrc/build/kotlin/
/buildSrc/build/libs/
/buildSrc/build/resources/main/META-INF/gradle-plugins/
/buildSrc/build/tmp/jar/
/app/build/
/buildSrc/build/source-roots/buildSrc/source-roots.txt
/library-exclude-jar/build/
/libraries/library-exclude-aar/build/
/exclude-jar-demo/src/
/exclude-demo/src/main/merge/AndroidManifest.xml
