<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="coder.siy.test">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">

        <!-- 注意这个地方需要替换成自己的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baiduKey"/>


        <activity android:name=".MainActivity"
                  android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>